* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #f9f9f9;
}


.pre-header{
    background-color: #111618;
    height: 60px;
    width: auto;
    color:#fff;
}
.secundary-manu{
    list-style: none;
}

.pre-header .secundary-manu li a {
    text-decoration: none;
}

.pre-header .secundary-manu li{
    display: inline-block;
    margin-left: 15px;
    text-transform: uppercase;
    padding-top: 15px;    
}

.pre-header .secundary-manu li a {
    color: #a4a4a8;
}

.main-nav{
    background-color: #fff;
}

.main-nav img{
    margin-top: 10px;
}

.main-nav .main-menu {
    list-style: none;
    margin-top: 20px;
}

.main-nav .main-menu li{
    display: inline;
    margin-left: 8px;
}

.main-nav .main-menu li a{
    text-decoration: none;
    color: #818181;
    text-transform: uppercase;
}

.main-cta-btn{
    background-color: #5826ef;
    color: #fff !important;
    padding: 10px;
    border: 1px solid #5826ef;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
}

.main-cta-btn:hover{
    color:#5826ef !important;
    background-color: transparent;
    text-decoration: none;
}

.hero-section {
    background-image: url('../images/hero.jpg');
    padding-top: 115px;
    padding-bottom: 115px;
    background-size: cover;
}

.hero-section h1 {
    color: #fff;
    text-transform: uppercase;
    font-size: 65px;
    margin-bottom: 20px;
}

.hero-section p {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.service-section{
    padding-top: 100px;
    padding-bottom: 100px;
}

.service-section h3{
    text-align: center;
    color: #440072;
    text-transform: uppercase;
    font-size: 18px;
}
.service-section h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 36px;
    color: #343434;
    font-weight: bold;
}
.service-section p{
    text-align: center;
    color: #818181;
}

.service-section .service-item {
    background-color: #1f2223;
    -webkit-box-shadow: 18px 15px 20px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 18px 15px 20px -10px rgba(0,0,0,0.75);
    box-shadow: 18px 15px 20px -10px rgba(0,0,0,0.75);
    text-align: center;
    color: #fff;
    padding-bottom: 40px;
    transition: 0.3s;
    margin-top:50px;
}

.service-section .service-item:hover {
    background-color: #440072 ;
    cursor: pointer;
    margin-top: 30px;
    -webkit-box-shadow: 18px 15px 40px -10px rgba(0,0,0,0);
    -moz-box-shadow: 18px 15px 40px -10px rgba(0,0,0,0);
    box-shadow: 18px 15px 40px -10px rgba(0,0,0,0);
}

.service-section .service-item h4{
    text-transform: uppercase;
}

.service-section .service-item p{
color: #fff;
}

.service-section .service-item a {
    color: #fff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 2px solid #fff;
    padding: 5px;
}

.how-it-works-section{
    text-align: center;
    background-image: url('../images/works.jpg');
    color: #ffffff;
    background-size: cover;
    padding-top: 100px;
}

.how-it-works-section h3{
    color: #1879eb;
}

.how-it-works-section a{
    display: block;
    position: relative;
    bottom: -30px;
}

.how-it-works-section h3{
    text-align: center;
    color: #1879eb;
    text-transform: uppercase;
    font-size: 18px;
}
.how-it-works-section h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 36px;
    color: #fff;
    font-weight: bold;
}
.how-it-works-section p{
    text-align: center;
    color: #fff;
}


.how-it-works-section .modal .modal-dialog {
    max-width: 700px;
}

.how-it-works-section .modal .modal-dialog .modal-content .modal-header {
    border-bottom: 0;
}

.how-it-works-section .modal .modal-dialog .modal-content {
    background-color: transparent;
    border: 0;
}

.how-it-works-section .modal .modal-dialog .modal-content .modal-header button {
    font-size: 30px;
}

.customers-say-section {
    padding-top: 100px;
    padding-bottom: 100px;
}

.customers-say-section .testimonials {
    height: 360px;
    background-size: cover; 
    background-position: center;
    color: #fff;
}

.customers-say-section .testimonials .testimonial-inner {
    background-color: rgba(0,0,0,0.5);
    height: 100%;
    padding: 25px;
    position: relative;
}

.customers-say-section .testimonials .testimonial-inner .testimonial-content {
    position: absolute;
    bottom: 25px;
}

.customers-say-section .testimonials .testimonial-inner .testimonial-content::before {
    content: "";
    width: 3px;
    height: 55px;
    background-color: #fff;
    position: absolute;
    left: -10px;
    top: 5px;
}

.about-section{
    background-image: url('../images/about.jpg');
    color: #fff;
    padding-top: 100px;
    padding-bottom: 100px;
    background-size: cover;
}

.about-section h3 {
    font-size: 18px;
    text-transform: uppercase;
    border-bottom: 1px dotted #7e7685;
    padding-bottom: 15px;
    
}

.about-section h3::before{
    content: "";
    display: inline-block;
    background-color: #315df7;
    height: 10px;
    width: 10px;
    margin-right: 10px;
    position: relative;
    top: -3px;
}

.about-section ul {
    margin-left: 20px;
}

.school-section {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;

}

.school-section h3{
    text-align: center;
    color: #440072;
    text-transform: uppercase;
    font-size: 18px;
}
.school-section h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 36px;
    color: #343434;
    font-weight: bold;
}
.school-section p{
    text-align: center;
    color: #818181;
}

.school-section .school-inner {
    background-image: url('../images/school.jpg');
    margin-top: 40px;
}

.school-section .school-inner .school-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    padding: 50px;
    color: #fff;
}

.school-section .school-inner .school-overlay .conference-date span {
    background-color: #2b65f8;
    font-size: 9px;
    padding: 2px 5px 2px 5px;
    text-transform: uppercase;
    position: relative;
    top: -2;
    margin-right: 10px;
    color: #fff;
}

.school-section .school-inner .school-overlay .countdown{
    padding: 10px;
    font-size: 30px;
    border: 1px solid #fff;
    display: inline-block;
    font-weight: bold;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 20px;
}

.school-section .school-inner .school-overlay h4 {
    text-transform: uppercase;
}

.school-section .school-inner .school-overlay p {
    color: #fff;
}

.school-section .school-inner .school-overlay .main-cta-btn{
    margin-top: 20px;
    display: inline-block;
    clip-path: polygon(100% 0, 100% 75%, 85% 100%, 0 100%, 0 0);
    border:none;
}

.school-section .school-inner .school-overlay .main-cta-btn:hover {
    background-color: #440072;
    color: #fff !important;
}

.contact-section{
    background-image: url('../images/about.jpg');
    padding-top: 100px;
    padding-bottom: 100px;
    color: #fff;
    background-size: cover;
    padding: 100px;
}

.contact-container{
    margin-top: 50px;
}

.contact-section .contact-container h3{
    margin-top: 30px;
}

.contact-section .contact-container #phoneContacts {
    margin-top: 30px;
}

.contact-section .contact-container h4 {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 1px dotted #7e7685;
    padding-bottom: 10px;
}

.contact-section .contact-container h4::before{
    content: "";
    display: inline-block;
    background-color: #315df7;
    height: 10px;
    width: 10px;
    margin-right: 10px;
    position: relative;
    top: -3px;
}

.contact-section h2, .contact-section p{
    text-align: center;
}

.contact-section .contact-details {
 text-align: left;   
}

.contact-section .contact-details p {
    text-align: left;   
   }


.contact-section form {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid #ffffff;
    padding: 50px;
}

.contact-section form label {
    text-transform: uppercase;
    font-weight: bold;
    
}

.contact-section form textarea, .contact-section form input, .contact-section form button {
    width: 100%;
    border: 0;
    outline: none;
    margin-bottom: 15px;
    height: 40px;
}

.contact-section form textarea{
    height: 80px;
}

.contact-section form button {
    background-color: #0e8dfc;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    width: 266px;
}

.contact-section #buttonId {
    position: relative;
}


.pricing-section {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.pricing-section .pricing-plan:hover {
    background-color: #412a9b;
    cursor: pointer;
}

.pricing-section .pricing-plan {
    background-color: #2a2b2c;
    padding: 25px;
    color: #fff;
    text-align: center;
    margin-top: 50px;
}

.pricing-section .pricing-plan ul {
    list-style: none;
}

.pricing-section  h3{
    text-align: center;
    color: #440072;
    text-transform: uppercase;
    font-size: 18px;
}
.pricing-section h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 36px;
    color: #343434;
    font-weight: bold;
}
.pricing-section p{
    text-align: center;
    color: #818181;
}

.pricing-section .pricing-plan ul {
    text-align: center;
    padding-left: 5px;
    
}

.pricing-section .pricing-plan li {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #7e7685;
}

.pricing-section .pricing-plan h4{
    text-transform: uppercase;
    font-weight: bold;
}

.pricing-section .pricing-plan .price {
    position:relative;
    border-top: 3px dotted #fff;
    border-bottom: 3px dotted #fff;
    margin-bottom: 25px;
}

.pricing-section .pricing-plan .price .main-num {
    font-size: 60px;
    font-style: italic;
}

.pricing-section .pricing-plan .price .sec-num {
    position: relative;
    top: -30px;
}

.pricing-section .pricing-plan .price .month {
    position: relative;
    left: -26px;
    font-size: 12px;
}


.profits-section {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: url('../images/profits.jpg');
    background-size:cover;
    text-align: center;
    color: #fff;

}

.profits-section h2 {
    font-size: 60px;
    text-transform: uppercase;
}

.profits-section p {
    font-size: 20px;
    text-transform:capitalize;
}

.profits-section a{
    color: #fff;
    border: 2px #fff solid;
    text-transform: uppercase;
    padding: 15px;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
}

.profits-section a:hover {
    color: rgb(122, 112, 112);
    cursor:pointer;
    border: 2px rgb(122, 112, 112) solid
}

.footer {
    padding-top: 100px;
    padding-bottom: 100px;
    margin-right: 100px;
    margin-left: 100px;
}

.footer h4 {
    text-transform: uppercase;
    border-bottom: 1px dotted #7e7685;
}

.footer ul li a {
    color: #818181;
    text-decoration: none;
    text-transform: uppercase;
    
}

.footer ul li a::before {
    content: "";
    display: inline-block;
    background-image: url('../images/ficon.png');
    height: 11px;
    width: 15px;
    margin-right:7px;
}

.footer ul {
    list-style: none;
    padding-left: 0;
}

.footer h4:before{
    content: "";
    display: inline-block;
    background-color: #315df7;
    height: 10px;
    width: 10px;
    margin-right: 10px;
    position: relative;
    top: -3px;
}

.footer .ficons a img {
    height: 32px;
    width: 32px;
}

.after-footer {
    background-color: #111618;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

.after-footer p{
    margin-left: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
}

